html {
	background-image: url("../img/space.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-size: 14px;
	width: 100vw;
	font-family: Tahoma, sans-serif;
}

h1 {
	font-size: 250%
}

h2 {
	font-size: 200%
}

h3 {
	font-size: 150%
}

table {
	border-collapse: collapse;
}

th, td {
	padding: 5px;
}

div.bande {
	width: 60%;
	margin: 0 auto;
	background-color: #B2C4E7;
	padding: 50px;
	border: 5px solid white;
}

div.center {
	width: 50%;
	margin: 0 auto;
}

div.entete {
	text-align: center;
}

.aboutme {
	text-align: center;
}

.footer {
	text-align: center;
}